div.container LOGO
//| <svg width="62" height="26" viewBox="0 0 62 26" xmlns="http://www.w3.org/2000/svg">
//| <path d="M12.1876 8.12237V12.0421H7.7817V25.5061H3.04294V12.0421H0V8.12237H3.05879V6.21652C3.05879 4.49567 3.53425 3.14662 4.48517 2.16935C5.43609 1.18146 6.81493 0.687515 8.62168 0.687515H12.1559V4.43194H9.5726C8.29414 4.43194 7.65491 5.06398 7.65491 6.32805V8.12237H12.1876Z"></path>
//| <path d="M14.9294 25.5061V7.88337H19.6682V25.5061H14.9294Z"></path>
//| <path d="M38.5123 7.8515H42.0624V25.4742H38.3379L37.9259 23.8968C36.3304 25.2989 34.4392 26 32.252 26C30.5193 26 28.9502 25.5963 27.545 24.789C26.1397 23.9817 25.0409 22.8664 24.2485 21.443C23.456 20.0089 23.0598 18.4156 23.0598 16.6628C23.0598 14.9208 23.456 13.3433 24.2485 11.9305C25.0409 10.5071 26.1397 9.39707 27.545 8.60038C28.9502 7.79308 30.5193 7.38942 32.252 7.38942C34.4814 7.38942 36.3991 8.10644 38.0051 9.54047L38.5123 7.8515ZM29.2091 20.1205C30.1178 21.034 31.2589 21.4908 32.6324 21.4908C34.006 21.4908 35.1418 21.034 36.0399 20.1205C36.9485 19.2069 37.4029 18.0544 37.4029 16.6628C37.4029 15.2713 36.9485 14.1188 36.0399 13.2052C35.1418 12.2917 34.006 11.8349 32.6324 11.8349C31.2589 11.8349 30.1178 12.297 29.2091 13.2212C28.311 14.1347 27.862 15.2819 27.862 16.6628C27.862 18.0438 28.311 19.1963 29.2091 20.1205Z"></path>
//| <path d="M62 25.5061H56.6273L53.1564 19.6743L49.6063 25.5061H44.3921L50.3512 16.4557L44.7725 7.88337H50.1293L53.1723 12.9822L56.4213 7.88337H61.6355L55.9775 16.2167L62 25.5061Z"></path>
//| <circle cx="17.2969" cy="2.81252" r="2.8125"></circle>
//| </svg>